body, html {
  font-family: Open Sans;
  font-size: 1.3em;
  background-color: #0B1E38;
  margin: 0;
  border: 0;
  padding: 0;
}

h1 {
  font-family: Bodoni;
  color: #E8E163;
  margin-block-start: 1.3em;
  margin-block-end: 0.5em;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

#text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: #f0e9eb;
  font-family: 'Times New Roman';
  font-size: 1em;
  margin: 0 auto;
}

#text h2 {
  font-size: 1em;
  font-weight: unset;
}

@media (max-width: 600px) {
  #text p {
    font-size: 15px;
  }

  #text h2 {
    font-size: 18px;
  }
}


@media (max-width: 768px) { 
  #text p {
    font-size: 18px;
  }

  #text h2 {
    font-size: 21px;
  }
}

#source {
  color: #DB901C;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 3px;
}


/* Icons */
.social-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-block-end: 0.5em;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  color: #DB901C;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s;
  text-decoration: none;
}

.social-icons a:hover {
  transform: translateY(-3px);
  cursor: pointer;
}


/* Table List */
#projectList {
  display: flex;
  justify-content: center;
}

caption {
  text-align: center;
  font-weight: bold;
  color: #0B1E38;
  padding: 10px 0;
  background-color: #f0e9eb;
}

table {
  border-collapse: collapse;
  border: 2px solid #f0e9eb;
  width: 50%;
}

@media (max-width: 600px) {
  caption {
    font-size: 15px;
  }

  table {
    font-size: 7px;
  }
}


@media (max-width: 768px) { 
  caption {
    font-size: 24px;
  }

  table {
    font-size: 18px;
  }
}


th, td {
  color: #7FC5DC;
  border: 1px solid #f0e9eb;
  padding: 20px;
}

a {
  color: #E8E163;
}

/* Preview List */
#previewList {
  display: flex;
  flex-direction: column;
}

.previewBox {
  display: flex;
  flex-direction: column;
  margin-block-end: 2em;
  align-items: center;
}

.previewLink {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 5dvh;
  border: 2px solid #4888C8;
}

@media (max-width: 600px) {
  .previewLink{
    font-size: 0.4em;
  }
}


@media (max-width: 768px) {
  .previewLink{
    font-size: 0.7em;
  }
}

.projectPreview {
  width: 50%;
  height: 60dvh;
  border: 2px solid #4888C8;
}

#stats {
  padding: 0;
  border: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.projectPreview iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

footer {
  color: #f0e9eb;
  text-align: center;
  font-size: 18px;
  padding: 3px;
}
