body, html {
  font-family: Open Sans;
  font-size: 1.3em;
  background-color: #0B1E38;
  margin: 0;
  border: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: Bodoni;
  color: #E8E163;
  margin-block-start: 1.3em;
  margin-block-end: 0.5em;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: #f0e9eb;
  font-family: 'Times New Roman';
  font-size: 1em;
  margin: 0 auto;
}

.text h2 {
  font-size: 1em;
  font-weight: unset;
}

@media (max-width: 600px) {
  .text { width: 70% }
  .text p { font-size: 15px; }
  .text h2 { font-size: 18px; }
}

@media (max-width: 768px) {
  .text { width: 70% }
  .text p { font-size: 18px; }
  .text h2 { font-size: 21px; }
}

#source {
  color: #DB901C;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 3px;
}


/* TOC */
#toc-container {
  position: fixed;
  top: 70px;
  right: 50px;
  z-index: 999;
}

.toc-sidebar {
  width: 280px;
  height: fit-content;
  max-height: calc(100vh - 120px);
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  #toc-container {
    display: flex;
    justify-content: center;
    margin-right: 0;
    position: static;
  }

  .toc-sidebar {
    width: 70%;
    height: auto;
    max-height: none;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.toc {
  background: rgba(23, 54, 121, 0.2);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 0.5em;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.05);
}

.toc h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  color: white;
}

.toc ul {
  list-style: none;
  padding-left: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0.65;
}

.toc ol {
  list-style: decimal;
  font-size: 14px;
  color: whitesmoke;
}

.toc li {
  margin: 4px 0;
}

.toc a {
  display: block;
  padding: 6px 16px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 14px;
  border-left: 2px solid transparent;
  margin-left: -1px;
  transition: all 0.3s ease-in-out;
}

.toc ul a:hover {
  opacity: 1;
  color: #4888C8;
  border-left-color: #DB901C;
  background: rgba(255, 255, 255, 0.03);
}

.toc ol a:hover {
  opacity: 1;
  color: #4888C8;
  border-left: 0px;
  background: rgba(255, 255, 255, 0.03);
}

.toc a.active {
  background: #4888C8 !important;
  color: white !important;
  font-weight: bold;
}


/* Icons */
.social-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-block-end: 0.5em;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  color: #DB901C;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s;
  text-decoration: none;
}

.social-icons a:hover {
  transform: translateY(-3px);
  cursor: pointer;
}


/* Table List */
#projectList {
  display: flex;
  justify-content: center;
}

caption {
  text-align: center;
  font-weight: bold;
  color: #0B1E38;
  padding: 10px 0;
  background-color: #f0e9eb;
}

table {
  border-collapse: collapse;
  border: 2px solid #f0e9eb;
  width: 50%;
}

@media (max-width: 600px) {
  table {
    display: table;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
    border: 2px solid #f0e9eb;
    max-width: 70vw;
  }

  caption { font-size: 18px !important; }
  table th {
    font-size: 12px !important;
    padding: 5px 3px;
  }
  table td {
    font-size: 10px !important;
    padding: 5px 3px;
  }
}


@media (max-width: 768px) {
   table {
    border-collapse: collapse;
    border: 2px solid #f0e9eb;
    width: 70%;
  }

  caption { font-size: 24px; }
  table { font-size: 18px; }
}


th, td {
  color: #7FC5DC;
  border: 1px solid #f0e9eb;
  padding: 20px;
}

a {
  color: #E8E163;
}

/* Preview List */
#previewList {
  display: flex;
  flex-direction: column;
}

.previewBox {
  display: flex;
  flex-direction: column;
  margin-block-end: 2em;
  align-items: center;
}

.previewLink {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 5dvh;
  border: 2px solid #4888C8;
}

@media (max-width: 600px) {
  .previewLink {
    font-size: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    height: 5dvh;
    border: 2px solid #4888C8;
  }
}

@media (max-width: 767px) {
  .previewLink {
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    height: 5dvh;
    border: 2px solid #4888C8;
  }
}

@media (max-width: 992px) {
  .previewLink {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 5dvh;
    border: 2px solid #4888C8;
  }
}

.projectPreview {
  width: 50%;
  height: 60dvh;
  border: 2px solid #4888C8;
}

@media (max-width: 767px) {
  .projectPreview {
    min-width: 90%;
    height: 60dvh;
    border: 2px solid #4888C8;
  }
}

@media (max-width: 992px) {
  .projectPreview {
    width: 70%;
    height: 60dvh;
    border: 2px solid #4888C8;
  }
}

#stats {
  padding: 0;
  border: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.projectPreview iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

footer {
  color: #f0e9eb;
  text-align: center;
  font-size: 18px;
  padding: 3px;
}
